# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    schedule:
      interval: 'monthly'
      day: 'monday'
    groups:
      patch:
        patterns:
          - '*'
        update-types:
          - 'patch'
      eslint:
        patterns:
          - '@actinc/eslint-config'
          - 'eslint'
          - 'eslint-*'
      jest:
        patterns:
          - 'jest'
          - 'jest-*'
          - '*-jest'
      mui:
        patterns:
          - '@emotion*'
          - '@mui*'
        update-types:
          - 'minor'
          - 'patch'
      react:
        patterns:
          - 'react'
          - 'react-dom'
          - 'react-test-renderer'
          - '@types/react'
          - '@types/react-dom'
          - '@types/react-test-renderer'
      storybook:
        patterns:
          - 'storybook'
          - '@storybook*'
      testing-library:
        patterns:
          - '@testing-library/*'
      types:
        patterns:
          - '@types/*'
      typescript:
        patterns:
          - 'typescript'
          - 'typescript-*'
          - 'ts-*'
